ion-content {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
  z-index: 2;
  margin-top: 3rem;
}

.logo {
  width: 140px;
  margin: 25px auto;
  display: block;
}

.form-container {
  background: #ffffff;
  border: 1px solid #222;
  border-radius: 8px;
  margin: auto;
  padding: 25px;
  width: 90%;
  max-width: 360px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

h2 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
}

ion-item {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  --padding-start: 10px;
}

.signup-btn {
  --background: #c79c5a;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

.input-field {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  --padding-start: 10px;
  color: black;
  text-align: left;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-size: 13px;
}

.forgot {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.bottom-text {
  font-size: 14px;
  margin-top: 25px;
  color: #000;
  text-align: center;
}

.link {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
