<ion-content [fullscreen]="true">
  <div class="header">
    <h1>MY PROFILE</h1>
    <div class="photo-wrapper">
      <ng-container *ngIf="photoURL; else defaultAvatar">
        <img [src]="photoURL" alt="Profile photo" />
      </ng-container>
    </div>
    <ng-template #defaultAvatar>
      <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
    </ng-template>
    <p>{{ name }}</p>
  </div>

  <div class="button-container">
    <ion-button expand="block" class="gold-btn" (click)="updateProfile()">Update Profile</ion-button>
    <ion-button expand="block" class="gold-btn" (click)="openSecurity()">Security</ion-button>
    <ion-button expand="block" class="gold-btn" (click)="openBilling()">Billing</ion-button>
    <ion-button expand="block" class="gold-btn" (click)="aboutProduct()">About our Products</ion-button>
    <ion-button expand="block" class="gold-btn" (click)="aboutApp()">About the App</ion-button>
    <ion-button expand="block" class="red-btn" (click)="onLogout()">Log out</ion-button>
  </div>
</ion-content>
